  :root {
    --color-1: #57b;
    --fontColor-1: darkblue;
    --brdDbl: .2rem double var(--fontColor-1);
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    box-sizing: border-box;
    color: var(--fontColor-1);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .cntTotal {
    margin: 2vw;
    padding: 1.5vh 1.5vw;
    height: 95vh;
    border: .15rem dashed #a0a0a0;
    background: aliceblue;
  }

  .cntHead {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    background-color: rgba(33, 105, 206, 0.63);
    border-radius: 17%;
    padding-top: .5rem;

  }

  .cntTitle,
  .cntFig {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 21%;
    position: relative;
  }


  .cntTitle {
    color: rgb(255, 248, 218);
    border: .15rem dotted #fff;
    font-size: 1.1rem;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    margin: 1em;
    padding: .5em;
  }

  .fig-1 {
    width: 3.2em;
    height: 1em;
    border: #fff .2rem solid;
    border-radius: 34%;
    position: absolute;
    left: 150px;
  }

  .fig-4 {
    background-color: rgb(243, 251, 255);
    border-radius: 50%;
    width: 5vw;
    height: 5vw;
    animation-name: rtt-1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transition: ease-out;
  }

  @keyframes rtt-1 {
    0% {
      border: #7dcfed dotted .3vw;
      /* opacity: .50; */
    }

    50% {
      background-color: #f9e3d5;
      rotate: 180deg;
    }

    100% {
      /* opacity: .50; */
      rotate: 360deg;
      border: rgb(139, 135, 255) dotted .3vw;
      background-color: rgb(227, 245, 211);
    }
  }


  .fig-1 {
    background-color: rgb(191, 223, 230);
    height: 4vh;
    width: 4vw;
    padding: .5rem;
  }



  .cntTitle:hover {
    background-color: ivory;
    color: rgb(222, 48, 132);
    border: .55rem dotted aquamarine;
    width: 34%;
    height: 80%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, 'Times New Roman', Times, serif;
    font-size: 2rem;
    transition: 1s ease;
  }

  form {
    border: .17rem lightsteelblue solid;
    padding: 2vw;
    margin-top: 4vw;
    padding-bottom: 1em;
    border-radius: 5%;
  }

  .fieldset {
    height: 65%;
    border: .5px solid rgb(95, 107, 160);
    padding: .25rem;
    padding: .5rem .25rem .25rem .5rem;
  }

  .form-label {
    display: block;
    margin: .5rem .25rem .5rem;
  }

  .form-control {
    width: 50%;
    height: 2em;
  }

  .form-control:focus {
    background-color: ivory;
  }

  .fieldset>.form-control:last-child {
    margin-bottom: 1rem;
  }

  .form-submit {
    padding: 1%;
    border: var(--fontColor-1) solid 0.2vh;
    border-radius: 5px;
    width: auto;
    margin: 1vw 0;
  }

  #questionID {
    height: 5em;
  }

  @media screen and (min-width: 900px) {

    .cntTotal {
      max-width: 45%;
      margin: 2vw;
      padding: 1.5vw;
      height: 95vh;
      border: .17rem dashed lightsteelblue;
      background: aliceblue;
    }
.cntHead {width: 14vw;}
    .cntTitle {
      font-size: 1.3rem;
    }

  }